@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");
/* line 1, ../Projects/Space-Tourism/Main SCSS/styles.scss */
body,
main,
footer,
p,
h1,
ul,
li {
  padding: 0px;
  margin: 0px;
}

/* line 11, ../Projects/Space-Tourism/Main SCSS/styles.scss */
ul {
  list-style: none;
}

/* line 14, ../Projects/Space-Tourism/Main SCSS/styles.scss */
a {
  text-decoration: none;
}

/* line 18, ../Projects/Space-Tourism/Main SCSS/styles.scss */
::-webkit-scrollbar {
  display: none;
}

/* line 3, ../Projects/Space-Tourism/Main SCSS/header.scss */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 7, ../Projects/Space-Tourism/Main SCSS/header.scss */
#header img {
  margin-top: 30px;
  margin-left: 50px;
  width: 48px;
  height: 48px;
}

/* line 13, ../Projects/Space-Tourism/Main SCSS/header.scss */
#header .divider {
  z-index: 2;
  position: absolute;
  left: 8%;
  margin-top: 40px;
  width: 44%;
  height: 2px;
  background: rgba(255, 255, 255, 0.297);
  backdrop-filter: blur(1rem);
}

/* line 23, ../Projects/Space-Tourism/Main SCSS/header.scss */
#header nav {
  margin-top: 40px;
  width: 50%;
  height: 96px;
  background: rgba(255, 255, 255, 0.061);
  backdrop-filter: blur(1rem);
}

/* line 30, ../Projects/Space-Tourism/Main SCSS/header.scss */
#header [data-logo] {
  cursor: pointer;
}

/* line 33, ../Projects/Space-Tourism/Main SCSS/header.scss */
#header [data-nav="menu"] {
  display: block;
}

@media screen and (max-width: 800px) {
  /* line 33, ../Projects/Space-Tourism/Main SCSS/header.scss */
  #header [data-nav="menu"] {
    display: none;
  }
}

/* line 39, ../Projects/Space-Tourism/Main SCSS/header.scss */
#header [data-nav="close"] {
  display: none;
}

/* line 42, ../Projects/Space-Tourism/Main SCSS/header.scss */
#header [data-nav="img"] {
  display: none;
}

/* line 45, ../Projects/Space-Tourism/Main SCSS/header.scss */
#header .mobile-activated {
  display: block;
}

/* line 48, ../Projects/Space-Tourism/Main SCSS/header.scss */
#header ul {
  display: flex;
  justify-content: center;
}

/* line 52, ../Projects/Space-Tourism/Main SCSS/header.scss */
#header .li-activated a {
  color: white;
}

/* line 55, ../Projects/Space-Tourism/Main SCSS/header.scss */
#header li {
  margin-left: 48px;
  padding-top: 39px;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: regular;
  font-size: 18px;
  letter-spacing: 2.7px;
  color: #FFFFFF;
}

/* line 59, ../Projects/Space-Tourism/Main SCSS/header.scss */
#header li a {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: regular;
  font-size: 18px;
  letter-spacing: 2.7px;
  color: #FFFFFF;
  font-weight: lighter;
  color: #D0D6F9;
}

/* line 63, ../Projects/Space-Tourism/Main SCSS/header.scss */
#header li a:hover {
  transition: 0.5s;
  color: #FFFFFF;
}

/* line 68, ../Projects/Space-Tourism/Main SCSS/header.scss */
#header li span {
  padding-right: 12px;
  font-weight: 600;
}

@media screen and (max-width: 1228px) {
  /* line 77, ../Projects/Space-Tourism/Main SCSS/header.scss */
  #header [data-logo] {
    margin-left: 20px;
  }
}

@media screen and (max-width: 1228px) {
  /* line 76, ../Projects/Space-Tourism/Main SCSS/header.scss */
  #header {
    justify-content: space-between;
  }
}

@media screen and (max-width: 800px) {
  /* line 85, ../Projects/Space-Tourism/Main SCSS/header.scss */
  #header img {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 1228px) {
  /* line 91, ../Projects/Space-Tourism/Main SCSS/header.scss */
  #header .divider {
    display: none;
  }
}

@media screen and (max-width: 860px) {
  /* line 91, ../Projects/Space-Tourism/Main SCSS/header.scss */
  #header .divider {
    display: none;
  }
}

@media screen and (max-width: 1228px) {
  /* line 99, ../Projects/Space-Tourism/Main SCSS/header.scss */
  #header nav {
    width: 700px;
  }
}

@media screen and (max-width: 1228px) {
  /* line 104, ../Projects/Space-Tourism/Main SCSS/header.scss */
  #header ul {
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  /* line 116, ../Projects/Space-Tourism/Main SCSS/header.scss */
  #header .mobile-activated {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0px;
    margin-top: 0px;
    width: 50%;
    height: 100vh;
    backdrop-filter: blur(2rem);
  }
}

@media screen and (max-width: 525px) {
  /* line 116, ../Projects/Space-Tourism/Main SCSS/header.scss */
  #header .mobile-activated {
    width: 100%;
  }
}

/* line 130, ../Projects/Space-Tourism/Main SCSS/header.scss */
#header .mobile-activated [data-nav="close"] {
  display: block;
  cursor: pointer;
  margin-left: 70%;
  margin-top: 60px;
}

@media screen and (max-width: 800px) {
  /* line 136, ../Projects/Space-Tourism/Main SCSS/header.scss */
  #header .mobile-activated ul {
    margin-top: 20px;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 800px) {
  /* line 143, ../Projects/Space-Tourism/Main SCSS/header.scss */
  #header .mobile-activated li {
    margin-left: 48px;
    padding-top: 70px;
  }
}

@media screen and (max-width: 800px) {
  /* line 148, ../Projects/Space-Tourism/Main SCSS/header.scss */
  #header .mobile-activated li [data-divider] {
    margin-top: 15px;
  }
}

@media screen and (max-width: 800px) {
  /* line 156, ../Projects/Space-Tourism/Main SCSS/header.scss */
  #header [data-nav="img"] {
    display: block;
    margin-right: 50px;
    margin-top: 30px;
    cursor: pointer;
  }
}

@media screen and (max-width: 800px) {
  /* line 166, ../Projects/Space-Tourism/Main SCSS/header.scss */
  #header .mobile-activated {
    animation: menu-open .3s forwards;
  }
}

@media screen and (max-width: 525px) {
  /* line 166, ../Projects/Space-Tourism/Main SCSS/header.scss */
  #header .mobile-activated {
    animation: menu-open-small .3s forwards;
  }
}

@keyframes menu-open {
  from {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes menu-open-small {
  from {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* line 202, ../Projects/Space-Tourism/Main SCSS/header.scss */
.bar-header {
  margin-top: 32px;
  height: 4px;
  animation: home .5s forwards;
  background-color: whitesmoke;
}

@keyframes home {
  from {
    width: 1px;
  }
  to {
    width: 80px;
  }
}

/* line 218, ../Projects/Space-Tourism/Main SCSS/header.scss */
li:nth-child(2) .bar-header, li:nth-child(4) .bar-header {
  animation: destiny .5s forwards;
}

@keyframes destiny {
  from {
    width: 1px;
  }
  to {
    width: 138px;
  }
}

/*# sourceMappingURL=header.css.map */